/* MAIN APP STYLING */
/* starts from here */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  font-family: "Oswald", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

h1 {
  text-transform: capitalize;
  letter-spacing: 2px;
  word-spacing: 3px;
  transition: all 600ms ease-in-out;
}
.input {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputClass {
  height: 40px;
  width: 25rem;
  padding: 0.1rem 1rem;
  font-size: 1rem;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.902);
  color: white;
  transition: all 600ms ease-in-out;
  text-transform: capitalize;
  border: none;
}
.inputClass::placeholder {
  color: white;
  text-transform: capitalize;
  letter-spacing: 1px;
  word-spacing: 1px;
  text-align: center;
  outline: none;
  transition: all 600ms ease-in-out;
}

button {
  cursor: pointer;
  background-color: black;
  transition: all 600ms ease-in-out;
}
.button {
  padding: 4px 1rem;
  border-radius: 6px;
  border: 1.1px solid black;
  margin: 0 6px;
}
ul {
  color: black;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
}
li {
  font-size: 1.5rem;
}
.ChangBgcMode {
  background-color: black;
  transition: all 600ms ease-in-out;
}
.changeBtnMode {
  background-color: #aa00ff;
  transition: all 600ms ease-in-out;
}
.inputBgc {
  background-color: rgba(255, 255, 255, 0.902);
  transition: all 600ms ease-in-out;
  color: #000000;
}
.inputClass.inputBgcPlchldr::placeholder {
  color: #000000;
  transition: all 600ms ease-in-out;
}
.titleColor {
  color: rgb(234, 0, 255);
  scale: 1.3;
  transition: all 600ms ease-in-out;
}
.removeImage {
  display: none;
  transition: all 1000ms ease-in;
}

/* javaScript added element styling  */
.liContainer {
  width: 50vw;
  height: 5vh;
  display: flex;
  border-radius: 7px;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, rgb(61, 255, 226) 0%, #aa00ff 100%);
  color: #ffffff;
  box-shadow: black 1px 1px 20px;
  padding: 0 1rem;
}
.my-checkbox {
  appearance: none;
  width: 30px;
  height: 30px;
  border: 2px solid #000000;
  border-radius: 6px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}
.my-checkbox:checked {
  background-color: #aa00ff;
  scale: 1.1;
  border-radius: 16px;
  border-color: #000000;
  position: relative;
  transition: all 500ms ease-in-out;
}
.my-checkbox:checked::after {
  content: "✔";
  color: white;
  font-size: 19px;
  position: absolute;
  left: 5px;
  top: 0px;
}
.completedTask {
  text-decoration: line-through;
  color: rgba(255, 0, 0, 0.717);
  scale: 0.6;
  color: rgb(0, 0, 0) !important;
  transition: all 500ms ease-in-out;
}
.li {
  text-transform: capitalize;
  font-size: 1.5rem;
  color: #ffffff;
  transition: all 500ms ease-in-out;
}
.deleteOption {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.lightBackground {
  background: url(/Images/lightModeBg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 600ms ease-in-out;
}
.darkBackground {
  background-image: url(/Images/darkModeBg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1000px) {
  .liContainer {
    width: 50vw;
  }
  .li {
    font-size: 1.4rem;
  }
}
@media (max-width: 800px) {
  .liContainer {
    width: 70vw;
  }
  .li {
    font-size: 1.3rem;
  }
}
@media (max-width: 700px) {
  .liContainer {
    width: 80vw;
  }
  .li {
    font-size: 1.2rem;
  }
}
@media (max-width: 550px) {
  .input {
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
  .inputClass {
    height: 40px;
    width: 20rem;
  }
  .liContainer {
    width: 90vw;
  }
  .li {
    font-size: 1rem;
  }
}
/* @media (max-width: 440px) {
  .liContainer {
    width: 80vw;
  }
      .li {
    font-size: .7rem;
  }
} */
