* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: "Oswald", sans-serif;
  background: url(/Images/lightModeBg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(0px);
}
header h3 {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: end;
  font-size: 3rem;
  padding: 0 30rem;
  text-align: center;
  color: rgb(234, 0, 255);
  text-transform: uppercase;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
}
main ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

main ul li {
  list-style: none;
  background: linear-gradient(135deg, rgb(61, 255, 226) 0%, #aa00ff 100%);
  box-shadow: black 1px 1px 10px;
  color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
main h6 {
  font-size: 0.9rem;
  letter-spacing: 4px;
  margin: 1.7rem;
  color: black;
}
main button {
  background-color: rgb(13, 167, 172);
  padding: 0.5rem 3rem;
  border-radius: 12px;
  border: none;
  margin-top: 3rem;
}
main button a {
  color: #ffffff;
  font-size: 1.5rem;
  text-decoration: none;
  letter-spacing: 2px;
}
.activeTags {
  background: linear-gradient(180deg, #0f0f10 0%, #1a1b1d 60%, #0f0f10 100%),
    radial-gradient(
      120% 120% at 0% 0%,
      rgba(61, 255, 226, 0.2),
      transparent 50%
    ),
    radial-gradient(
      120% 120% at 100% 100%,
      rgba(170, 0, 255, 0.2),
      transparent 50%
    );
  background-blend-mode: screen, normal;
  color: #ffffff;
}
