* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
}
a {
  color: black;
  text-decoration: none;
}
li {
  list-style: none;
}
/* main styling strats from here  */

main {
  height: 100vh;
  width: 100vw;
  background: url(/bgi/hero-8-bg-shape-cover-dark.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #26335d;
  position: relative;
}
/* Nav styling starts from here  */

nav {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  margin: 0 5rem;
  height: 10vh;
}
#logo {
  font-size: 2rem;
  text-transform: capitalize;
  font-family: sans-serif;
  font-weight: 700;
  color: #fff;
  letter-spacing: 2px;
}
ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}
ul li a {
  font-size: 1.3rem;
  color: #fff;
  letter-spacing: 1px;
}
.logInPanel {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
#login a {
  color: #fff;
  letter-spacing: 1px;
  font-size: 1.1rem;
}
#signup button {
  background-color: #8d5cf6;
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}
section {
  position: absolute;
  top: 30%;
  left: 10%;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 2rem;
  flex-direction: column;
  width: 40%;
}
.tagline {
  font-size: 1.2rem;
  text-transform: capitalize;
  color: #fff;
  font-family: sans-serif;
  font-weight: 500;
}
.headline {
  font-size: 4.5rem;
  color: #ffffff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
}
p {
  font-size: 2rem;
  letter-spacing: 2px;
  font-family: sans-serif;
  padding-right: 1.5rem;
  color: #ffffff;
  font-weight: 200;
}
.btns button {
  background-color: #8d5cf6;
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  cursor: pointer;
}
.btns button:nth-child(2) {
  background-color: transparent;
  border: 2px solid #fff;
}
