* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  background: url(/images/bg3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  background-color: #ff8132e4;
  box-shadow: 0px 10px 100px crimson;
}
nav img {
  height: 50px;
  width: 50px;
  color: #dfff00;
}
nav h1 {
  font-size: 2.5rem;
  letter-spacing: 2px;
  word-spacing: 1px;
  font-weight: 600;
  color: #000000;
}
main {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  padding-top: 10vh;
  gap: 1rem;
}
main h5 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 500;
  letter-spacing: 2px;
}
#mood-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.mood {
  height: 95px;
  width: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  flex-direction: column;
  border: 2px solid black;
  background-color: #ff8132e4;
  border-radius: 10px;
  cursor: pointer;
}
.submit {
  padding: 1rem 4rem;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  border: none;
  box-shadow: 1px 1px 10px #f39223;
  background-color: #ff0000d6;

  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: 1px;
  transition: all 500ms ease-in-out;
}
.submit:hover {
  scale: 1.05;
  transition: all 500ms ease-in-out;
}
#mood-history {
  min-height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10vh;
}
table {
  border-collapse: collapse;
}
th {
  padding: 15px 50px;
  border: 3px solid #000000;
  background-color: #ff1e00da;
}
td {
  border: 3px solid #000000;
  padding: 10px 50px;
  background-color: #fd7e2f;
}
.moodSelected {
  background: #f35200;
}

@media (max-width: 550px) {
  main {
    height: 60vh;
  }
  nav img {
    width: auto;
  }
  nav h1 {
    width: auto;
    font-size: 1.5rem;
  }
  main h5 {
    font-size: 2rem;
  }
  .mood {
    height: 70px;
    width: 70px;
  }
  th {
    padding: 10px 30px;
  }
  td {
    padding: 10px 30px;
  }
  section {
    height: fit-content;
    padding-top: 5vh;
  }
}
